header{
    height: 800px;
    background:  url('./Images/blueasy-freebie.png') no-repeat center;

}
nav{
    background:#3f495082;;
    height:150px;
    display: flex;
    text-align:center;
    justify-content: center;
}
.p{
    text-align: center;
    background-color: #434e55;
}
.top{
    display: flex;
    flex-direction: row;
    width:1170px;
    position:relative;
}
.menu_ngang
{
    display: flex;
    flex-direction: row;
    position: absolute;
    right:0;
    top: 50%;
    transform: translateY(-50%);
}
.top > a{
    position: absolute;
    left:0;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    text-transform: uppercase;
    font-size: 30px;
   font-weight: bold;
    color: white;

}
.top > ul {
    list-style-type: none;
    text-transform: uppercase;
    color: white;;
    font-weight: bold;
}
.top ul li a{
    margin-right:55px;
}
.last_thing{
    margin-right:0px !important;
}
#frame{
    border:1px solid #49b0dd;
    padding:5px;
    color:#49b0dd;
}
span{
    color:#49b0dd
}
header > div {
    display:flex;
    justify-content: center;
    text-align:center;
    padding-top:250px;
}
.title{
    font-size:42px;
    background: #3f4a51;
    color:white;
}
.container{
    background: #4bcaff;
    display:flex;

    justify-content: center;
}
h2{
    margin-block-start: 0;
    margin-block-end: 0;
    padding-top:80px;
    text-transform: uppercase;
    font-size:30px;
}
.child{
    margin-block-start: 0;
    margin-block-end: 0;
    height:400px;
    width:1170px;
    display: :flex;
}
.items{
    display:flex;
    flex-direction: row;
    margin-top: 50px;
    
}
.coffee  {
   color:white;
}
.text1{
    font-size:12px;
}
.coffee{
    flex:1;
}
.instant{
    flex:1;
}
.serious{
    flex:1;
}
frame{
    flex:1;
}
.text1 > p {
    margin-block-start: 1em;
    margin-block-end: 1em;
}
h5{
    font-size: 24px;
    text-transform: uppercase;
    margin-block-start: 0;
    margin-block-end: 0;
}
.child>h2{
    color:white;
}
.cover{
    background:white;
    height:850px;
    display:flex;
    justify-content: center;
    text-align:center;
}
.khunghinh{
    height:850px;
    width:1170px;
    background:white;
    
}
.khunghinhtop{
    width:1170px;
    height:195px;
    background:white;
    position:relative;
}
.khunghinh_bottom
{
    height:650px;
    width:1170px;
    background:white;
}
.left_1{
    position: absolute;
    left:0;
    top:50%;
    transform: translateY(-50%);
    text-transform: uppercase;
    font-size: 30px;
   font-weight: bold;
    color: #bbc0c3;
}
.right_1{
    position: absolute;
    right:0;
    top:50%;
    transform: translateY(-50%);
    text-transform: uppercase;
    font-weight: bold;
}
.right_1 > ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
 
}
.right_1 ul li {
    margin-right:50px;
  
}
.last_thing1{
    margin-right:0px !important;
}
.hinhtren
{
    display: flex;
    margin:0px 30px 30px 0px;
}
.hinhduoi{
    display:Flex;
    margin:30px 30px 30px 0px;
}
.mot{
    flex:1
}
.hai{
    flex:1
}
.ba{
    flex:1
}
.bon{
    flex:1
}
.nam{
    flex:1
}
.hai{
    flex:1
}
.sau{
    flex:1
}
.bay{
    flex:1
}
.tam{
    flex:1
}
.menu_duoi li a{
    font-size:14px;
}
.cover_gray{
    background: #515f67;
    height:475px;
    display:flex;
    justify-content: center;
    align-content:middle;
}
.cover_child{
    width:1170px;
    height:475px;
    background: #515f67;
    
}
.text{
    float:left;
    width:550px;
    color: white;
}
.video{
    float:right;
    width:550px;
    padding-top:75px;}
.nop_bai > input 
{
    color:#0d212d;
    padding: 5px;
    border:1px solid black;
    width:135px;
    height:45px;
    border-radius: 4px;
    background: #3d484f;
    
}
.cover_bird{
    background:#4bcaff;
    display:flex;
    justify-content: center;
    height:300px;
}
.khung_twitter{
    background:#4bcaff;
    height:300px;
    width:1170px;
    display:flex;
}
.twitter{
    flex:999;
   color:white;
    text-align: left;
}
.symbol{
    float:right;
    flex:1;
}
.symbol > img {
    width:35px;
    height:25px;
    padding-top:80px;
}
.twitter>h2{
    font-size:30px;
    
}
.twitter>p{
    font-size:28px;
}
.twitter>p>span{
    font-weight: bold;
    color:white;
}
.cover_parents{
    height:500px;
    background:  url('./Images/male.png') no-repeat center;
    display:flex;
    justify-content: center;
    color:white;
    
}
.cover_danong{
    height:500px;
    width:1170px;
    
}
.frame_2{
    display:flex;

}
.child_of_frame2_1{
    flex:1;

}
.child_of_frame2_2{
    flex:1;
}
.frame_3{
    display:flex;

}
.child_of_frame3_1{
    flex:1;
    margin-top: 19px;
}
.child_of_frame3_2{
    flex:1;
    display: flex;
    flex-direction: row;
    margin-top: 35px;
    
  
}
.child_of_frame2_1>p{
    padding-top:39px;
}
.child_of_frame2_2>p{
    padding-top:39px;
}
.hinhanh_minhhoa{
    margin-right: 68px;
    text-align:center;
    border:2px solid white;
    width:45px;
    padding:20px;
    
}
.hinh_cuoi{
        border: 2px solid white;
        margin-right:0px !important;
        width:45px;
        padding:20px;
    
}
h6{
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.cover_bird_dup{
    background:white;
    display:flex;
    justify-content: center;
    height:300px;
    
}
.khung_twitter_dup{
    background:white;
    height:300px;
    width:1170px;
    display:flex;
   
}
.twitter_dup{
    flex:999;
    color:#65696c;
    text-align: left;
}
.symbol_dup{
    float:right;
    flex:1;
}
.symbol_dup > img {
    width:35px;
    height:25px;
    padding-top:80px;
}
.twitter_dup>h2{
    font-size:30px;
    
}
.twitter_dup>p{
    font-size:28px;
}
h6{
    color:#8dcbe5;

}
.protect_elements
{
    height:815px;
    background:  url('./Images/last_pic.png') no-repeat center;
    display:flex;
    justify-content: center;
    z-index: 1;
    color:white;
}
.shield{
    width:1170px;
    height:815px;
    
}
.full_name
{
    display: flex;
    padding-top:35px;
}
.left_top{
    flex:1;
    display:flex;
    flex-direction: column;
}
.right_top{
    flex:;
    
}
.right_top > p{ 
    margin-block-start: 0;
    margin-block-end: 0;
    font-size:14px;
    
}
.email
{
    display: flex;
    padding-top:35px;
}
.left_bot{
    flex:1;
    display:flex;
    flex-direction: column;
  
}
.right_bot{
    flex:1;
    
}
.right_bot > p{ 
    margin-block-start: 0;
    margin-block-end: 0;
    font-size:14px;
}
.left_top > input{
    width:470px;
    height:50px;
}
.left_bot> input{
    width:470px;
    height:50px;
    z-index: 2;
 
}
.right_top > p {
    padding-top:16px;
    margin-left: 130px;
}
.right_bot > p {
    padding-top:6px;
    margin-left: 20px;
}
.message{
    
}
.rela_mess > input {
    height:215px;
    width:1170px;
    margin-top:10px;
}
.rela_mess{
    padding-top:35px;
}
.label_1{
    margin-bottom: 10px;
}
.label_2{
    margin-bottom: 10px;
}
.button>  input{
    width:370px;
    height:60px;
    background: #4bcaff;
    color: white;
    border: #4bcaff;
}
.button{
    padding-top:40px;
}
.footer
{
    height:170px;
    background: #353f47;
    display: flex;
    justify-content: center;
}
.baove{
    height:170px;
    width:1170px;
    display:flex;

}
.right_cuoi{
    flex:1;
    float:right;
    text-align:right;
    padding-top:80px;

}
.left_cuoi{
    flex:1;
    display: flex;
    flex-direction: row;
    padding-top:80px;
    color:#47535c;
}
.right_cuoi>p{
    margin-block-start: 0;
    margin-block-end: 0;
    color:#47535c;
}
.cuoicung{
    margin-right:20px;
}